.gameStatePanel{
    background-color: white;
    margin: 10px;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.playerState{
    margin: 20px;
    flex-shrink: 1;
    flex-grow:1;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.enemyState{
    margin: 20px;
    flex-shrink: 1;
    flex-grow:1;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}