.UserInput{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.TextBox{
    flex-grow: 9;
}
.SubmitButton{
    flex-grow:1;
}