{% extends 'game/base.html' %}
{% load static %}

{% block content %}
    <h1>용사의 도전</h1>
    {% if user.is_authenticated %}
        <p>안녕하세요, {{ user.username }}님!</p>
        <button id="start-game-btn">게임시작</button>
        <br>
        <a href="{% url 'game:logout' %}">로그아웃</a>
    {% else %}
        <p>로그인 후 이용해주세요.</p>
        <a href="{% url 'game:login' %}">로그인</a>
        <br>
        <a href="{% url 'game:register' %}">등록</a>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/game.js' %}"></script>
{% endblock %}